:root {
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

}



html {
    font-size: 16px;

}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    width: 450px;
    border-radius: 20px;

        &-image {
            border-radius: 20px;

        }



        &-summary {
            display: flex;
            flex-direction: column;
            
        }



}

.anual {
    
    background-color: rgb(209, 211, 210);
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    
 }

 .pay {
    background-color: blueviolet;
    padding: 10px;
    text-align: center;

 }

.order {
    background-color: chocolate;
    padding: 10px;
    text-align: center;

}